{% extends "base.html" %}
{% block title %}Calendrier{% endblock %}
{% block content %}

    <h1>Calendrier</h1>

    <br><br>
    <h2>Simu 1</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom, prénom</th>
            <th scope="col">Date</th>
            <th scope="col">Durée</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-weight: normal;">Saint-Exupéry, Antoine</th>
            <td>20/11/2022, 15h</td>
            <td>1h</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Mermoz, Jean</th>
            <td>21/11/2022, 12h</td>
            <td>1h30</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Latécoère, Pierre-Georges</th>
            <td>22/11/2022, 09h</td>
            <td>2h</td>
          </tr>
          </tr>
        </tbody>
    </table>
    <div class="centered-button">
      <a type="submit" class="btn btn-success" href="reservation">Réserver simu 1</a>
    </div>

    <h2>Simu 2</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom, prénom</th>
            <th scope="col">Date</th>
            <th scope="col">Durée</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-weight: normal;">Saint-Exupéry, Antoine</th>
            <td>20/11/2022, 15h</td>
            <td>1h</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Mermoz, Jean</th>
            <td>21/11/2022, 12h</td>
            <td>1h30</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Latécoère, Pierre-Georges</th>
            <td>22/11/2022, 09h</td>
            <td>2h</td>
          </tr>
          </tr>
        </tbody>
    </table>
    <div class="centered-button">
      <a type="submit" class="btn btn-success" href="reservation">Réserver simu 2</a>
    </div>

    <h2>Simu 3</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom, prénom</th>
            <th scope="col">Date</th>
            <th scope="col">Heure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-weight: normal;">Saint-Exupéry, Antoine</th>
            <td>20/11/2022, 15h</td>
            <td>1h</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Mermoz, Jean</th>
            <td>21/11/2022, 12h</td>
            <td>1h30</td>
          </tr>
          <tr>
            <th scope="row" style="font-weight: normal;">Latécoère, Pierre-Georges</th>
            <td>22/11/2022, 09h</td>
            <td>2h</td>
          </tr>
          </tr>
        </tbody>
    </table>

    <div class="centered-button">
      <a type="submit" class="btn btn-success" href="reservation">Réserver simu 3</a>
    </div>

    <br><br><br>
{% endblock %}