{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{%block additive_header %}
    <!-- Welcome image -->
    <div class="welcome-image">
        <div class="welcome-text">
            <!-- <h1>Club simu ENSPIMA</h1> <h3>Rejoignez-nous</h3> -->
        </div>
    </div>
{% endblock %}
        
{% block content %}
    <!-- Content -->
    <h1 id="main-title" style="text-decoration: underline;">Nos simulateurs</h1>

    <div id="list-of-sim">
        <div class="sim-card">
            <!-- Sim 1 -->
            <div class="sim-card-img" >

            </div>
            <div class="sim-card-text" >
                <h2>Simulateur 1</h2><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum reiciendis quam obcaecati quasi, quo tenetur dicta rem omnis odio reprehenderit error voluptates possimus officiis? Enim molestiae facere eum. Eaque.</p>
            </div>
        </div>

        <div class="sim-card">
            <!-- Sim 2 -->
            <div class="sim-card-img" >

            </div>
            <div class="sim-card-text" >
                <h2>Simulateur 2</h2><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum reiciendis quam obcaecati quasi, quo tenetur dicta rem omnis odio reprehenderit error voluptates possimus officiis? Enim molestiae facere eum. Eaque.</p>
            </div>
        </div>

        <div class="sim-card">
            <!-- Sim 3 -->
            <div class="sim-card-img" >

            </div>
            <div class="sim-card-text" >
                <h2>Simulateur 3</h2><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illum reiciendis quam obcaecati quasi, quo tenetur dicta rem omnis odio reprehenderit error voluptates possimus officiis? Enim molestiae facere eum. Eaque.</p>
            </div>
        </div>
    </div>


    <div class="centered-button">
        <button type="button" class="btn btn-success btn-lg">Je m'inscris</button>
    </div>

{% endblock %}